/nbproject/private/
/nbproject/*
/nbproject/
/web/upload/*
.DS_Store
Thumbs.db
/leyMar/nbproject/private/
/ley/nbproject/private/
/SohoFramework-master/nbproject/private/
/proyectPorcicola-leyMar/nbproject/private/
/ensayo/nbproject/private/
/t/nbproject/private/
/proyecto_Porcicola/nbproject/private/